1. Пользователи могут регистрироваться
2. Пользователи могут искать треки
3. Пользователи могут создавать плейлисты
4. Пользователи могут добавлять песни в плейлисты
5. Пользователи могут удалить песни из плейлистов
6. Пользователи могут удалять плейлисты
7. Пользователи могут загружать песни
8. Администратор может удалять пользователей
9. Администратор может удалять песни
10. Администратор может удалять плейлисты
11. Система хранит историю треков, которые слушают пользователи
